.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#toggle {
    display: block !important;
    transform: translate(680px,-53px);
    font-size: 20px;
}



body {
    overflow-x: hidden;
}

#biglogo {
    -webkit-box-reflect: below 3px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}

#containers:hover {
    transform: scale(1.1,1.1);
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0, 0, 0, 0.2));
}

@media all and (min-width: 992px) {
    .toggle.active ~ .container {
        transform: translateX(40px);
        transition: 1s ease-in-out;
    }

    #close-button {
        transform: translateX(400px);
        display: block;
    }
}



/* =========== DASHBOARD ========== */
@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}

input:focus {
    border-bottom: 2px solid #3E0748 !important;
}

nav {
    background-color: #3E0748;
}

body{
    min-height: 100vh;
    background: #150019;
}
.navigation{
    position: fixed;
    width: 60px;
    height: 100%;
    background: #3e0748;
    transition: .5s;
    overflow: hidden;
}
.navigation:hover,.navigation.active {
    width: 300px;
}
.navigation:hover ~ .container{
    /* margin-left: 300px; */
    transform: translateX(40px);
    transition: 1s ease-in-out;
}
/* .toggle.active ~ .container {
    transform: translateX(40px);
    transition: 1s ease-in-out;
} */
.container{
    transition: 1s ease-in-out;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    /* background: #ea1d63; */
    background:#FFC107 ;
}
.navigation ul li a{
    position: relative;
    display: none;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fa{
    font-size: 24px;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #330748;
    cursor: pointer;
}
.toggle.active{
    background: #ea1d63;
}
.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}
.toggle.active::before{
    content: '\f00d';
}


#logo {
    margin-left: 12px;
}
ul#nav-mobile {
    margin-right: 90px;
}
@media (max-width: 767px){
    .navigation{
        left: -60px;
    }
    .navigation.active{
       left: 0px; 
       width: 100%;
    }
    #logo {
        transform: translateX(-125px);
    }
    ul#nav-mobile {
        display: block !important;
        transform: translateX(40px);
    }
    .toggle{
        height: 55px;
    }
    #toggle {
    transform: translate(250px,-50px);
    }
    #biglogo {
        width: 150px;
    }
    #close-button {
        transform: translateX(170px);
        display: block !important;
    }
    html,body {
        overflow-x: hidden
    }
}


@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #297eff;
} */
.search{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: .5s;
    box-shadow: 0 0 0 5px #330748;
    overflow: hidden;
}
.search.active{
    width: 360px;
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}
.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #287dfc;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #287dfc;
    transform: translate(6px,6px) rotate(315deg);
}
.search .input{
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 10px 0;
}
.search .clear{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}
.search .clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}
select{
    display: block;
}